<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> <Appenders>
    <Console name="ConsoleOutput" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level %logger{36} - %msg}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=blue}%n"/>
    </Console>
</Appenders>
    <Loggers>
        <Logger name="Spotifei" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleOutput"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="ConsoleOutput"/>
        </Root>
    </Loggers>
</Configuration>